@page "/about"

<div class="row">
	<div class="col-2"></div>
	<div class="col-10">
		<h1>О компании</h1>
	</div>
</div>
<div class="row">
	
		<div class="col-2"></div>

		<div class="col-10">
			<div class="about">
				<p>"Meta Chill" на рынке уже 12 лет. Наша компания занимается размещением бесплатных объявлений о местах для отдыха в Брестской области.</p>
				<p>"Meta Chill" находиться по адресу: 224011, Республика Беларусь, г.Брест, Гоголя 1.</p>
				<p>Телефон для связи : 8 0162 45 63 45 </p>
				<p>Наш Email : metachill@tut.by </p>
			</div>
	</div>
</div>
