@page "/"


<div class="row">
	<div class="col-2"></div>

	<div class="col-8">
		<h1> Добро пожаловать в базу данных мест отдыха в Брестской области. </h1>

	</div>
</div>

<div class="row">
	<div class="col-2"></div>

	<div class="col-8">
		<h2> Для добавления места отдыха перейдите в раздел "Добавить место отдыха". </h2>

	</div>
</div>
